:root {
    --lightgray: #ECECEC;
    --gray: #868686;
    --line: 2em;
    --space: .2em;
}

html, body {
    height: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 3em;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto var(--line) auto;
    grid-template-areas:
        "tape ctrl1"
        "tape2 ctrl2"
        "tape3 ctrl3";
}

#tape {
    grid-area: tape2;
    position: relative;
    margin-top: 0;
    transition: margin-top 0.1s ease-out;
}

#tape li, #entry {
    font-variant-numeric: tabular-nums;
}

#tape li {
    list-style-type: none;
    position: absolute;
    background-color: var(--lightgray);
    width: 100%;
    height: var(--line);
    padding: var(--space);
    text-align: right;
}

#entry {
    grid-area: ctrl2;
    font-size: inherit;
    width: 100%;
}